body{
    background-color: black;
    color: white;
}
.button{
    padding: 20px;
    border: 4px solid white;
    margin: 10px;
    cursor: pointer;
}

.project{
    display: flex;
    flex-direction: column;
    gap: 30px;
  
}

#blue{
    background-color: blue;
    color: white;
}

#green{
    background-color: green;
    color: white;
}

#yellow{
    background-color: yellow;
    color: black;
}

#red{
    background-color: red;
    color: white;
}